*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    border: 2px solid rgb(238, 233, 233);
    border-radius: 5px;
    width: 200px;
}
#display{
    width: 85%;
    margin: 11px;
    font-size: 25px;
}
.button_container{
    display: flex;
    justify-content: center;
    margin: 1px;
    flex-wrap: wrap;
}
.calculator_button{
    width: 45px;
    height: 45px;
    margin: 3px;
}
